body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,textarea,select,optgroup,option,fieldset,legend,p,blockquote,th,td {
	margin:0;
	padding:0;
}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,th,var,optgroup {
	font-style: normal;
	font-weight: normal;
}
ins {text-decoration: none;}
li {list-style: none;}
table {
	font-size:inherit;
	font:100%;
}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;}
q:before,q:after {content:'';}
abbr,acronym {border: 0;font-variant: normal;}
legend {color: #000;}
input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
input,button,textarea,select {
	margin:0;
	*font-size: 100%;
	line-height:1.2;
}
a img,img {-ms-interpolation-mode:bicubic;}
sub, sup {vertical-align:baseline}

/* clear fix */
.cls:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.cls {zoom:1;}